<!DOCTYPE html>
<html>
<head>
  <title>LoreSquare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "/css/styles.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

</body>
</html>
